---
apiVersion: v1
data:
  LOG_LEVEL: info
  NODE_ENV: development
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/managed-by: timoni
    app.kubernetes.io/name: yuptime
    app.kubernetes.io/version: 0.0.0-devel
  name: yuptime-config
  namespace: yuptime

