---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app.kubernetes.io/managed-by: timoni
    app.kubernetes.io/name: yuptime
    app.kubernetes.io/version: 0.0.0-devel
  name: yuptime-pvc
  namespace: yuptime
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

