---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  labels:
    app.kubernetes.io/managed-by: timoni
    app.kubernetes.io/name: yuptime
    app.kubernetes.io/version: 0.0.0-devel
  name: yuptime-pdb
  namespace: yuptime
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: api-server
      app.kubernetes.io/name: yuptime

