---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app.kubernetes.io/managed-by: timoni
    app.kubernetes.io/name: yuptime
    app.kubernetes.io/version: 0.0.0-devel
  name: yuptime-checker
  namespace: yuptime
rules:
- apiGroups:
  - monitoring.yuptime.io
  resources:
  - monitors
  verbs:
  - get
  - list
- apiGroups:
  - monitoring.yuptime.io
  resources:
  - monitors/status
  verbs:
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create

