---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/managed-by: timoni
    app.kubernetes.io/name: yuptime
    app.kubernetes.io/version: 0.0.0-devel
  name: yuptime-config
  namespace: yuptime
stringData:
  admin-password-hash: $argon2id$v=19$m=65536,t=3,p=4$Ha7NhMrOOSle+AMHOp5XNw$jhFoCy75xBnmZJY+FKPujTeFg26xnR1wfDwFJJVrBhU
  session-secret: dev-secret-change-in-production
type: Opaque

