# Pod Disruption Budget for Yuptime
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: yuptime-pdb
  namespace: yuptime
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: yuptime
      app.kubernetes.io/component: api-server
