# Persistent Volume Claim for Yuptime
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: yuptime-pvc
  namespace: yuptime
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
