apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/managed-by: timoni
    app.kubernetes.io/name: {{ include "yuptime.fullname" . }}
    app.kubernetes.io/version: 0.0.0-devel
  name: {{ include "yuptime.fullname" . }}-controller
rules:
- apiGroups:
  - monitoring.yuptime.io
  resources:
  - monitors
  - monitorsets
  - maintenancewindows
  - silences
  - yuptimesettings
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - monitoring.yuptime.io
  resources:
  - monitors/status
  - monitorsets/status
  - maintenancewindows/status
  - silences/status
  - yuptimesettings/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  - daemonsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - batch
  resources:
  - jobs
  - jobs/status
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/managed-by: timoni
    app.kubernetes.io/name: {{ include "yuptime.fullname" . }}
    app.kubernetes.io/version: 0.0.0-devel
  name: {{ include "yuptime.fullname" . }}-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "yuptime.fullname" . }}-controller
subjects:
- kind: ServiceAccount
  name: {{ include "yuptime.fullname" . }}
  namespace: {{ .Release.Namespace }}